/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-bright-yellow: hsl(71, 73%, 54%);

  --neutral-light-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);

  /* typography */
  --ff-karla: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--btn-color, inherit);
}

.grid ul {
  list-style-type: none;
}
